<section>
    <h2>Отзывы клиентов</h2>
    <div class="review-carousel">
        <div class="carousel-content">
            <carousel 
            [height]="250"
            [margin]="30"
            [cellWidth]="'30%'"
            [cellsToShow]="slidesAmount"
            [borderRadius]="20">
                <div class="carousel-cell">
                    <div class="carous-item">
                        <div class="review-line">
                            <div class="carous-img"></div>
                            <div class="carous-name">Имя</div>
                        </div>
                        <div class="carous-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, sed magnam. Ullam cum at eveniet debitis similique voluptatibus alias accusantium.</div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="carous-item">
                        <div class="review-line">
                            <div class="carous-img"></div>
                            <div class="carous-name">Имя</div>
                        </div>
                        <div class="carous-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, sed magnam. Ullam cum at eveniet debitis similique voluptatibus alias accusantium.</div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="carous-item">
                        <div class="review-line">
                            <div class="carous-img"></div>
                            <div class="carous-name">Имя</div>
                        </div>
                        <div class="carous-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, sed magnam. Ullam cum at eveniet debitis similique voluptatibus alias accusantium.</div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="carous-item">
                        <div class="review-line">
                            <div class="carous-img"></div>
                            <div class="carous-name">Имя</div>
                        </div>
                        <div class="carous-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, sed magnam. Ullam cum at eveniet debitis similique voluptatibus alias accusantium.</div>
                    </div>
                </div>
            </carousel>
        </div>
    </div>
</section>
