<header>
    <div class="content">
        <app-menu-element></app-menu-element>
        <div class="header-info">
            <h1 class="main-htext"><span class="mc-text">Избавим от насекомых</span><br>с гарантией 3 года!</h1>
            <ul class="header-list">
                <li>Cрочный выезд - бесплатно</li>
                <li>Обработка за 1 час</li>
                <li>Гарантия - 3 года</li>
                <li>Безопасные препараты</li>
                <li>Официальная санэпидемстанция</li>
                <li>Соблюдаем санитарные правила</li>
                <li>Заключаем договор</li>
            </ul>
            <div class="header-call">
                <button class="button header-main-button" (click)="popupService.isCallPopup = true">Вызвать дезинсектора</button>
                <div class="header-car-sign">ПРИЕДЕМ ЗА 30 МИНУТ</div>
            </div>
        </div>
    </div>
</header>






