header {
    min-height: 100vh;
    padding-bottom: 50px;
    background-image: url('/assets/img/bg.png');
    background-size: cover;;
}
.main-htext {
    font-size: 35px;
    margin-top: 150px;
}
.header-list {
    margin-left: 20px;
    margin-top: 20px;
    li {
        margin-bottom: 10px;
        font-size: 20px;
        list-style: circle;
        list-style-image: url('/assets/img/li.svg');
    }
} 
.header-call {
    margin-top: 50px;
    display: flex;
    align-items: center;
    .header-car-sign {
        font-weight: bold;
        margin-left: 20px;
    }
}
.cost-htext {
    margin-top: 100px;
}
.header-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width: 600px) {
    .header-call {
        justify-content: center;
        flex-direction: column;
        .header-car-sign {
            margin-top: 20px;
            margin-left: 0;
        }
    }
}
