<section class="darksection">
    <div class="content">
        <h2>Мы можем произвести обработку<br>в любом помещении</h2>
        <div class="where">
            <div class="where__element">Квартиры и дома</div>
            <div class="where__element">Офисные помещения</div>
            <div class="where__element">Промышленные объекты</div>
            <div class="where__element">Транспортные средства</div>
            <div class="where__element">Предприятия общепита</div>
            <div class="where__element">Розничная торговля</div>
        </div>
    </div>
</section>