<section class="footer-section">
    <div class="questions content">
        <div class="send">
            <h3 class="send-header">ЗАКАЗАТЬ ЗВОНОК</h3>
            <form [formGroup]="form" (submit)="backCall()">
                <div class="form-group">
                    <label for="">Имя</label>
                    <input type="text" placeholder="Иван" formControlName="name">
                </div>
                <div class="form-group">
                    <label for="">Телефон</label>
                    <input type="text" placeholder="+7 (977) 777 77 77" formControlName="phone">
                </div>
                <div class="right-button">
                    <button type="submit" class="button submit-button">Заказать звонок</button>
                </div>
            </form>
        </div>
        <div class="qtext">
            <h2>Остались вопросы?<br>Заполните форму, мы Вам перезвоним</h2>
            <p>Или позвоните нам по номеру +7(977)777-77-77</p>
        </div>
    </div>
</section>