<section>
    <h2 class="cost-htext">Цены на обработку</h2>
    <div class="cost-table content">
        <div class="pricetype">
            <ul>
                <li *ngFor="let item of priceTypeList" (click)="selectedType = item.id" [ngStyle]="{'color' : selectedType == item.id ? '#0396A6' : 'black'}">{{item.name}}</li>
            </ul>
        </div>
        <div class="pricelist">
            <div class="pricelist-element" *ngFor="let element of priceList | filter : selectedType">
                <div class="pricelist-element__name">{{element.name}}</div>
                <div class="pricelist-element__order">
                    {{element.price}}
                    <button class="button order-button" (click)="openOrderPopup(element)">Заказать</button>
                </div>
            </div>
        </div>
    </div>
</section>
