<div class="popup-bg">
    <div class="popup">
        <div class="close" (click)="closePopup()"></div>
        <h3 class="popup-header">ДОБАВИТЬ ТИП УСЛУГИ</h3>
        <form [formGroup]="form" (submit)="addItem()">
            <div class="form-group">
                <label for="">Название</label>
                <input type="text" placeholder="Иван" formControlName="name">
            </div>
            <div class="right-button">
                <button type="submit" class="button submit-button" [disabled]="form.invalid">Добавить</button>
            </div>
        </form>
    </div>
</div>